body{
    background-color: aqua;
    background-image: url("https://i.pinimg.com/originals/9e/45/7f/9e457f19eabaa71335b2b5fb8a74830f.jpg");

}
top{
    background-color: aqua;
}
bottom{
    background-image: url("https://i.pinimg.com/originals/9e/45/7f/9e457f19eabaa71335b2b5fb8a74830f.jpg");
    background-color: aqua;

}
